@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-mono: "DM Mono", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: oklch(96.91% 0.016 293.76);
  --color-primary-100: oklch(94.33% 0.028 294.59);
  --color-primary-200: oklch(89.43% 0.055 293.28);
  --color-primary-300: oklch(81.12% 0.101 293.57);
  --color-primary-400: oklch(70.9% 0.159 293.54);
  --color-primary-500: oklch(60.56% 0.219 292.72);
  --color-primary-600: oklch(54.13% 0.247 293.01);
  --color-primary-700: oklch(49.07% 0.241 292.58);
  --color-primary-800: oklch(43.2% 0.211 292.76);
  --color-primary-900: oklch(37.96% 0.178 293.74);
  --color-primary-950: oklch(28.27% 0.135 291.09);

  --color-secondary-50: oklch(98.97% 0.033 116.19);
  --color-secondary-100: oklch(97.68% 0.072 118.56);
  --color-secondary-200: oklch(95.61% 0.128 120.76);
  --color-secondary-300: oklch(92.47% 0.188 123.37);
  --color-secondary-400: oklch(88.42% 0.213 125.64);
  --color-secondary-500: oklch(80.36% 0.208 127.82);
  --color-secondary-600: oklch(67.75% 0.178 128.79);
  --color-secondary-700: oklch(55.47% 0.144 128.97);
  --color-secondary-800: oklch(46.89% 0.116 128.18);
  --color-secondary-900: oklch(41.74% 0.099 128.39);
  --color-secondary-950: oklch(28.3% 0.071 129.34);

  --animate-blink: blink 0.8s step-end infinite;
  --animate-fade-in: fade-in 0.6s ease-out both;
  --animate-slide-up: slide-up 0.6s ease-out both;
  --animate-float: float 6s ease-in-out infinite;
  --animate-shimmer: shimmer 2s linear infinite;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--ui-bg-muted);
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-bg-muted) transparent;
}
